*{
    box-sizing: border-box;
}
body{
    background-color: #eeeeee !important;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
/*Side Nav*/
.snav{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('../../images/right-menu-bg.png');
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}
.snav > hr{
    background-color: #0f4c75;
    height: 3px; 
}
#heading{
    padding-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
    font-size: 40px;
    color: #0f4c75;
    font-weight: 800;
}  
#heading:hover{
    animation: rainbow 2s infinite;
    cursor: context-menu;
}
@keyframes rainbow{
    0% {color: palevioletred;}
    17% {color: red;}
    34% {color: orangered;}
    50% {color: yellow;}
    67% {color: #00FF00;}
    84% {color:  #0000FF;}
    100% {color: #8B00FF;}
}

.snav-div{
    width: 100%;
    font-size: 25px;
    margin-top: 3em;
}
.snav-d{
    padding: 1em;
}
.snav-d > a{
    border: 2px;
    font-weight: 700;
    color: #0f4c75;
}
.snav-d > a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #f54291;
}
/*End Side Nav*/

/*Introduction*/
#intro{
    max-width: 80%;
    width: 100%;
    height: 100vh;
    position: relative;
    left: 10%;
    padding: 20px;
    text-align: center;
}
#intro-heading{
    transform: translate(0%, 60%);
    font-size: 10em;
    letter-spacing: 8px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0f4c75;
    text-shadow: 4px 4px #76ead7,
			     10px 10px #000000;
}
#intro-heading:hover{
    cursor: context-menu;
}

#intro-subh{
    transform: translate(0%, 180%);
    font-weight: 600;
    font-size: 3em;
    color: #0f4c75;

}
#intro-scroll{
    margin-top: 12em;
    font-weight: 700;
    font-size: 1.2em;
    color: #4cd3c2;
    animation: scroll_down 2s infinite;
}
#intro-darrow{
    font-weight: 800;
}
@keyframes scroll_down{
    0%{

    }
    100%{
        font-size: 1.5em;
        transform: translate(0,2%);
    }

}
/*End Introduction*/

/*Profile*/
#profile-sec-content{
    max-width: 80%;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    left: 10%;
    padding: 20px;
    text-align: center;
}
#profile-sec-content > h2{
    color: #0f4c75;
    padding-top: 1.2em;
    font-size: 40px;
}
#profile-hr{
    width: 88%;
    margin: 3.6em auto;
    background-color: #0f4c75;
}
/*Details*/
#profile-details{
    color: #0f4c75;
    font-weight: 500;
    padding-left: 4.5em;
    text-align: left;
}
#profile-details > #details-heading{
    font-size: 25px;
    padding: 1em;
    padding-left: 0;
    text-decoration: underline;
}
#profile-details > div {
    font-weight: 600;
    font-size: 18px;
    padding: 0.8em;
    padding-left: 0;
}
#profile-details > div > span{
    color: #0f4c75;
    font-weight: 400;
}
#profile-details > #linkedin{
    font-size: 20px;
}
#linkedin{
    color: #0f4c75;
}
#linkedin:hover{
    text-decoration: none;
    color: #f54291;
}
/*About*/
#profile-abt{
    color: #0f4c75;
    font-weight: 500;
    margin-left: 4.5em;
    text-align: left;
}
#profile-abt > div{
    padding: 1em;
    padding-left:0;
    font-size: 25px;
    text-decoration: underline;
}

/*End Profile*/
/*Experience*/
#experience-sec-content{
    max-width: 80%;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    position: relative;
    left: 10%;
    padding: 20px;
    text-align: center;
}
#experience-sec-content > h2{
    color: #0f4c75;
    padding-top: 1.2em;
    font-size: 40px;
}
#exp-hr{
    width: 88%;
    margin: 3.6em auto;
    background-color: #0f4c75;
}
/*Education*/
#exp-edu{
    color: #0f4c75;
    font-weight: 500;
    padding-left: 4.5em;
    text-align: left;
}
#exp-edu > h3{
    padding: 1em;
    padding-left: 0;
    font-size: 25px;
    text-decoration: underline;
}
#edu-head{
    float: left;
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0%;
}
.edu-descript{
    float: left;
    padding-top: 2em;
    padding-bottom: 2em;
}
.edu-descript > sup{
    vertical-align: super;
    font-size: smaller;
}
/*Internship*/
#exp-int{
    color: #0f4c75;
    font-weight: 500;
    padding-left: 4.5em;
    text-align: left;
}
#exp-int > h3{
    clear: both;
    padding: 1em;
    padding-left: 0;
    font-size: 25px;
    text-decoration: underline;
}
/*Courses*/
#exp-course{
    color: #0f4c75;
    font-weight: 500;
    padding-left: 4.5em;
    text-align: left;
}
#exp-course > h3{
    clear: both;
    padding: 1em;
    padding-left: 0;
    font-size: 25px;
    text-decoration: underline;
}
#link{
    color: #0f4c75;
}
#link:hover{
    color: #f54291;
    text-decoration: none;
}
/*End Experience*/

/*Skills*/
#skills-sec-content{
    clear: both;
    max-width: 80%;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    left: 10%;
    padding: 20px;
    text-align: center;
}
#skills-sec-content > h2{
    color: #0f4c75;
    padding-top: 1.2em;
    font-size: 40px;
}
#skills-hr{
    width: 88%;
    margin: 3.6em auto;
    background-color: #0f4c75;
}